<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="en">

<div layout:fragment="content">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">게시물 수정</h5>
                <form action="/board/register" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">제목</span>
                        <input type="text" name="title" class="form-control" placeholder="Title">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">내용</span>
                        <textarea name="content" class="form-control col-sm-5" rows="5"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">작성자</span>
                        <input type="text" name="writer" class="form-control" placeholder="Writer">
                    </div>
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-outline-success btn-sm">Submit</button>
                        <button type="reset" class="btn btn-outline-danger btn-sm">Reset</button>
                    </div>
                </form>
            </div>
        </div>
</div>

</body>
</html>